RewriteEngine On
#redirect port 443 to 80
RewriteCond %{SERVER_PORT} 443
RewriteCond %{REQUEST_URI} beautyUniversity
RewriteRule ^(.*)$ http://mywebservice.info/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]