RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
#change port 80 to 443
RewriteCond %{HTTPS_HOST}   !^$
RewriteRule ^/?(.*) https://mywebservice.info/$1 [L,R]